@use "../abstract/variables" as *

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

.banner
  position: relative
  color: $color-white
  .banner-down
    position: absolute
    z-index: 2
    bottom: 3%
    left: 0
    right: 0
    width: fit-content
  .bg-video-wrap
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    will-change: transform
    contain: layout paint style
    video
      width: 100%
      z-index: 1
      position: relative
      object-fit: cover
      object-position: 57% bottom
    .container
      position: absolute
      top: 0
      left: 0
      right: 0
      z-index: 2
    .overlay
      background: #66666688
      position: absolute
      z-index: 1
      width: 100%
      height: 100%
      top: 0
  .container
    position: relative
  .banner-text-container
    display: flex
    align-items: center
    justify-content: left
    position: relative
    z-index: 2
  .banner-text
    margin-bottom: 13%
    transition: all 0.5s ease
    text-align: left
    .banner-title
      font-family: $font-titulos
      font-size: 120px
    .description
      font-size: 30px
      font-family: $font-textos
